/* GENERAL */
body {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(115, 192, 255);
}

h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
}

a {
    text-decoration: none !important;
}

img {
    max-width: 100%;
    height: auto;
}

ul,ol {
    list-style:none;
}

section {
    padding: 45px 0 80px 0;
}

section .heading {
    text-align: center;
    padding-bottom: 40px;        
}

section .heading h2{
    text-transform: uppercase;
}

p, li {
    font-weight: normal;
    font-size: 15px;
    color: #effbff;
}
#circle {
    background: radial-gradient(circle, rgb(245 245 245 / 62%) 0%, rgb(96 220 215) 100%);
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
#letter_d {
    position: absolute;
    transform: translate(35px, -130px);
    font-size: 100px;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
}

/* HEADER */

.header  {
    margin-bottom: 0px !important;
}

/* INTRO */

#intro {
    padding: 0px !important;
}

@media only screen and (max-width: 667px) {
    .companie_name {
        display: none;
    }
}
/* SERVICES */

.services_separation {
    border: 5px solid black;
    width: 10px;
    background-color: black;
    height: 100%;
    border-radius: 10px;
}

@media only screen and (max-width: 768px) {
    .services_separation {
      width: 100%;
      height: 10px;
      margin: 10px;
    }
}
