/* GENERAL */

@font-face {
    font-family: "NewsReader";
    src: url("../../Fonts/Newsreader-VariableFont_opsz\,wght.ttf");
}

body {
    font-family: "NewsReader", 'Courier New', Courier, monospace !important;
    background-color: rgb(115, 192, 255);
}

.white_divider {
    width:100px;
    height: 2px;
    background: #fff;
    margin: 0 auto;
}

.primary_divider {
    width:100px;
    height: 2px;
    background: #96e7e3;
    margin: 0 auto;
}

h1{
    margin: 25px 25px !important;
}

a {
    text-decoration: none !important;
}

img {
    max-width: 100%;
    height: auto;
}

ul,ol {
    list-style:none;
}

section {
    padding: 45px 0 80px 0;
}

section .heading {
    text-align: center;
    padding-bottom: 40px;        
}

section .heading h2{
    text-transform: uppercase;
}

/* p, li {
    font-weight: normal;
    font-size: 15px;
    color: #effbff;
} */
#circle {
    background: radial-gradient(circle, rgb(245 245 245 / 62%) 0%, rgb(96 220 215) 100%);
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
#letter_d {
    position: absolute;
    transform: translate(35px, -130px);
    font-size: 100px;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
}

/* HEADER */

.header  {
    margin-bottom: 0px !important;
}

/* INTRO */

#intro {
    padding: 0px !important;
}


@media only screen and (max-width: 667px) {
    .companie_name {
        display: none;
    }
}
/* SERVICES */

.services_separation {
    border: 5px solid black;
    width: 10px;
    border: 5px solid #46b2cd;
    height: 100%;
    border-radius: 10px;
}

@media only screen and (max-width: 768px) {
    .services_separation {
      width: 100%;
      height: 10px;
      margin: 10px;
    }
}

/* COMPANIES */

.companie_name {
    font-size: 25px;
}

#companies {
    padding: 0 !important;
}

.parallax {
    /* Image a utiliser */
    background-image: url("../../img/reais_dark.jpg");

    width: 100%;
    
    min-height: 300px;

    /* Centrer la photo au milieu de la page*/
    margin: 0 auto;

    /**** Creation de l'effet parallax  ******/

    /* Il faut fixer la photo sur un seul point */
    background-attachment: fixed;

    /* Centrer la photo pour ajuster la variation de taille */
    background-position: center;

    /* Ne pas permettre que la photo se répète */
    background-repeat: no-repeat;
    
    /* Centraliser la photo sur le fond */
    background-size: cover;
}

@font-face {
    font-family: "FjallaOne";
    src: url("../../Fonts/FjallaOne-Regular.ttf");
}


.parallax ul {
    font-family: "FjallaOne", "sans-serif";
    display: flex;
    flex-wrap:  wrap;
    justify-content: space-around;
    align-content: center;
    align-items: center; 
    width: 100%;
    min-height: 300px;
    padding: 16px !important;
    margin: 0 !important;
}

.parallax ul li {
    /* color: #5f8a83; */
    color: #2c2c2c;
    font-size: 25px;
    text-align: center;
    box-sizing: border-box;
    font-weight: bold;
    flex-grow: 1;
    width: 100%;
    padding: 0.8em 1.2em;
    overflow: hidden;
    list-style: none;
    /* border: solid 1px white; */
    background: fade(slategrey,20%);
}


.parallax ul > li  { width: 15%; }

@media only screen and (max-width: 650px) {
    .parallax ul > li  { width: 100%; }
}

.parallax .title {
    padding-top: 30px !important;
    margin: 0 !important;
    font-family: "NewsReader", "sans-serif";
    text-align: center;
    filter: drop-shadow(2px 4px 6px black);
    font-size: 45px;
    color: white;
}


/*CERTIFICATE*/

#certificate {
    padding-top: 45px 0 45 0 !important;
    background-color: #333333;
}

.certificate_logo {
    width: 100%;
    background-image: url("../../img/Logo_Fundo_Branco_dark.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
    margin: 0 auto;
}

.certificate_contact {
    color: #fff;
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.certificate_benefits ul {
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.certificate_benefits ul li {
    font-size: 30px;
}

/*ABOUT*/

#about {
    padding: 0 !important;
    overflow: hidden !important;
}

#about .summary h1 {
    margin: 0 auto !important;
}

#about .values {
    padding-top: 45px;
}

#about .values .wall {
    background-image: url("../../img/wall.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
    margin: 0 auto;
}

#about .values .wall ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

#about .values .wall ul li{
    font-size: 25px;
    color: white;
}

#about .crew {
    padding-top: 45px;
}
/*FOOTER*/

.footer_paragraph {
    padding-top: 45px !important;
}

.footer_paragraph p {
    font-size: 25px !important;
}